@model VolunTree_API.Models.Ong
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="main.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-success bg-gradient">
        <div class="container-fluid ">
          <a class="navbar-brand  text-light" href="#">LOGO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collase navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active  text-light" aria-current="page" href="index.html">Home</a>
              <!--<a class="nav-link  text-light" href="#">Features</a>
              <a class="nav-link  text-light" href="#">Pricing</a>
              <a class="nav-link  text-light" href="#">Disabled</a>-->
              <a class="nav-link  text-light" href="voluntarios.html">Voluntariado</a>
              <a class="nav-link  text-light" href="ongs.html">ONGs</a>
              <a class="nav-link  text-light" href="sobre.html">Sobre o Volutree</a>
            </div>
          </div>
          
        </div>
        <div class="d-flex">
          <form class="d-flex m-auto" role="search"><!--QG01_CSS­-->
            <input class="form-control me-2 w-auto" id="input-height" type="search" placeholder="Pesquisar ONGs" aria-label="Search">
    
          </form>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-light m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Entrar</button>
        </div>
      </nav>
    <div>
    <main>


    <form class="m-3 border" asp-action="PostOng">
        <h1 class="h1">Cadastrar ONG</h1>
        <div class="p-3">
            <div id="div-cnpj">
                <label class="form-label" for="input-cnpj">Cnpj</label>
                <input class="form-control" type="number" id="input-cnpj" asp-for="Cnpj">
            </div>
            <div id="div-nome">
                <label class="form-label" for="input-nome">Nome da Ong</label>
                <input class="form-control" type="text" id="input-nome" asp-for="NomeOng">
            </div>
            <div id="div-email">
                <label class="form-label" for="input-email">email</label>
                <input class="form-control" type="email" id="input-email" asp-for="EmailOng">
            </div>
            <div id="div-endereco">
                <label class="form-label" for="input-endereco">endereco</label>
                <input class="form-control" type="text" id="input-endereco" asp-for="EnderecoOng">
            </div>
            <div id="div-contato">
                <label class="form-label" for="input-contato">contato principal</label>
                <input class="form-control" type="number" id="input-" asp-for="ContatoPrincipal">
            </div>
            <div id="div-missao">
                <label class="form-label" for="input-missao">missão</label>
                <input class="form-control" type="text" id="input-missao" asp-for="Missao">
            </div>
            <div id="div-necessidades">
                <label class="form-label" for="input-necessidades">Necessidades
                </label>
                <input class="form-control" type="text" id="input-necessidades" asp-for="necessidades">
            </div>
            <div><input type="submit" value="Save" class="btn btn-primary" /></div>
        </div>
    </form>
</div>
</main>
<footer class="container-fluid  bg-body-tertiary ">
    <div class="row justify-content-center mt-2 text-secondary text-center">
      <h3>Equipe de Desenvolvimento</h3>
      <div class="d-flex justify-content-center"><!--tirei o row-->
        <p class="col-2">
          Caio Pequeno    <br/>
          Fabio Henrique  <br/>
          Hudson Henrique <br/>
          Kayky Alves     <br/>
          Paulo Bispo     
        </p>
        <p class="col-1">
          Back-End <br/>
          Back-End <br/>
          Back-End <br/>
          Front-End<br/>
          Front-End<hr/>
        </p>
      </div>
    </div>
  </footer>
    <!--_________FIM DO <FOOTER>_________________-->
  <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>