@page
@model VolunTree_API.Pages.CadastroOngModel

@section Styles {
    <link rel="stylesheet" href="~/css/cadastroong.css" />
}

<main class="flex-grow-1">
    <form class="m-3 border" method="post">
        <h1 class="h1">Cadastrar ONG</h1>
        <div class="p-3">
            <div id="div-cnpj">
                <label class="form-label" for="input-cnpj">CNPJ</label>
                <input class="form-control" type="text" id="input-cnpj" asp-for="NovaOng.Cnpj" required>
            </div>
            <div id="div-nome">
                <label class="form-label" for="input-nome">Nome da Ong</label>
                <input class="form-control" type="text" id="input-nome" asp-for="NovaOng.NomeOng" required>
            </div>
            <div id="div-email">
                <label class="form-label" for="input-email">E-Mail</label>
                <input class="form-control" type="email" id="input-email" asp-for="NovaOng.EmailOng" required>
            </div>
            <div id="div-telefone">
                <label class="form-label" for="input-telefone">Telefone</label>
                <input class="form-control" type="text" id="input-telefone" asp-for="NovaOng.TelefoneOng" required>
            </div>
            <div id="div-endereco">
                <label class="form-label" for="input-endereco">Endereço</label>
                <input class="form-control" type="text" id="input-endereco" asp-for="NovaOng.EnderecoOng" required>
            </div>
            <div id="div-contato">
                <label class="form-label" for="input-contato">Contato Principal</label>
                <input class="form-control" type="text" id="input-contato" asp-for="NovaOng.ContatoPrincipal" required>
            </div>
            <div id="div-missao">
                <label class="form-label" for="input-missao">Missão</label>
                <input class="form-control" type="text" id="input-missao" asp-for="NovaOng.Missao" required>
            </div>
            <div id="div-necessidades">
                <label class="form-label" for="input-necessidades">Necessidades</label>
                <input class="form-control" type="text" id="input-necessidades" asp-for="NovaOng.Necessidades" required>
            </div>
            <div>
                <button type="submit" class="btn btn-success mt-3">Enviar</button>
            </div>
        </div>
    </form>
</main>
